.console-wrap {
  @include displayFlex;
}

.console-sidebar {
  box-sizing: border-box;
  width: 250px;
  padding: 20px 0;

  background-color: colors("background-sidebar");

  .title,
  .item {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;

    font-size: 14px;
    line-height: 45px;
    color: colors("sidebar-font");

    border-left: 4px solid colors("background-sidebar");
  }
  .title {
    padding-left: 11px;
  }
  .item {
    padding-left: 36px;

    position: relative;

    //&:before {
    //  position: absolute;
    //  top: 0;
    //  left: 36px;
    //
    //  font-family: "console-iconfont";
    //  font-size: 24px;
    //  line-height: 45px;
    //  content: 'B';
    //}
    &.active,
    &:hover {
      color: colors("sidebar-font-hover");
      background-color: colors("background-console");
      border-color: colors("sidebar-font-hover");
    }
    em {
      vertical-align: top;
      margin-right: 25px;

      font-family: "console-iconfont";
      font-size: 20px;
      line-height: 45px;
    }
  }
}

.console-content {
  @include flex(1);
  box-sizing: border-box;
  padding: 0 50px;

  background-color: colors("background-console");
}

.console-container {
  margin: 15px 0;
}
.console-write {
  .title {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 8px;

    font-size: 24px;
    color: colors("main-font");

    background-color: #fff;
    border: 1px solid colors("border");
    border-bottom: none;
  }
  .editor {
    box-sizing: border-box;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    height: 500px;

    background-color: #fff;
    border: 1px solid colors("border");
  }
  .tags {
    @include displayFlex;
    @include flexAlignItem(center);

    margin: 15px 0;

    label {
      display: block;
      margin-right: 10px;
    }
    input {
      @include flex(1);
      display: block;
      width: 100%;
      padding: 5px;

      font-size: 14px;

      border-bottom: 2px solid colors("border");
    }
  }
  .control {
    text-align: right;

    .bui-btn {
      width: 120px;
      margin: 0 0 0 15px;

      font-size: 14px;
      cursor: pointer;
    }
    .release {
      color: #fff;
      background-color: colors("red-light");
      border-color: colors("red-light");
    }
  }
}